html{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    height: 100%;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(../img/header/main_banner_mixed.jpg) center no-repeat; 
    background-size: cover;
    position: relative;
}
.footer{
    width: 100%;
    height: 60px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    
}
.main{
    flex: 1 0 auto;
}
.wrapper{
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 8px;
}

/*Header Menu*/
.header_wrapper a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
    
}

.header_wrapper a:hover,
.header_wrapper a:active,
.header_wrapper a:focus{
    opacity: .6;
}
.logo,
.top_menu_container,
.banner_button_p{
    z-index: 10;
}
.header_wrapper{
    max-width: 1464px;
    margin: 40px auto;
    padding: 0 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.top_menu_container,
.top_menu,
.tom_menu_socials{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: #fff;
    font-family: "Lato";
    font-size: 43px;
    font-weight: 900;
}

.top_menu li{
    color: #ffffff;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.24px;
    padding: 0 10px;
}
.tom_menu_socials a{
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    padding-left: 20px;
}
.tom_menu_socials a:first-child{
    padding-left: 50px;
}
.tom_menu_socials a:last-child{
    padding-right: 25px;
}

.header_container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/header/main_banner.jpg) center no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.top_banner_desc_container{
    margin: 10%;
    max-width: 900px;
    max-height: 600px;
    text-align: center;
    padding: 10px;
}
.top_banner_desc_container>h1{
    color: #ffffff;
    font-family: "LemonMilkbold";
    font-weight: 400;
    /* font-size: 80px; */
    font-size: 11vw;
    line-height: .88;
    text-transform: uppercase;
}
.top_banner_desc_container>p{
    color: #ffffff;
    font-family: "LemonMilkbold";
    font-weight: 400;
    /* font-size: 110px; */
    font-size: 7vw;
    line-height: .88;
    text-transform: uppercase;
}
.top_banner_desc_container>a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.banner_button_p:hover,
.banner_button_p:active,
.banner_button_p:focus{
    opacity: .6;
}
.banner_button_p{
    -webkit-text-fill-color: #242424;
    color: #242424;
    font-family: "Lato";
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 64px auto;
    padding: 20px 40px;
    background: #fff;
    border-radius: 45px;
    width: max-content;
}
.top_banner_image{
    position: absolute;
    bottom: -10vw;
    right: 0;
    /* overflow: hidden; */
}
.top_banner_img{
    max-width: 100%;
}





