html{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    height: 100%;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(../img/header/main_banner_mixed.jpg) center no-repeat; 
    background-size: cover;
    position: relative;
}
.footer{
    width: 100%;
    height: 60px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    
}
.main{
    flex: 1 0 auto;
    min-width: 100%;
}
.wrapper{
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 8px;
}

/*Header Menu*/
.header_wrapper a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
    
}

.header_wrapper a:hover,
.header_wrapper a:active,
.header_wrapper a:focus{
    opacity: .6;
}
.logo,
.top_menu_container,
.banner_button_p{
    z-index: 10;
}
.header_wrapper{
    max-width: 1464px;
    margin: 40px auto;
    padding: 0 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.top_menu_container,
.top_menu,
.tom_menu_socials{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: #fff;
    font-family: "Lato";
    font-size: 43px;
    font-weight: 900;
}

.top_menu li{
    color: #ffffff;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.24px;
    padding: 0 10px;
}
.tom_menu_socials a{
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    padding-left: 20px;
}
.tom_menu_socials a:first-child{
    padding-left: 50px;
}
.tom_menu_socials a:last-child{
    padding-right: 25px;
}

.header_container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/header/main_banner.jpg) center no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.top_banner_desc_container{
    margin: 10%;
    max-width: 900px;
    max-height: 600px;
    text-align: center;
    padding: 10px;
}
.top_banner_slogan{
    color: #ffffff;
    font-family: "LemonMilkbold";
    font-weight: 400;
    /* font-size: 80px; */
    font-size: 11vw;
    line-height: .88;
    text-transform: uppercase;
    letter-spacing: 0.51px;
    text-shadow: rgba(0, 0, 0, .2) 7px -7px 8px;
    

}
.top_banner_desc_container>p{
    color: #ffffff;
    font-family: "LemonMilkbold";
    font-weight: 400;
    /* font-size: 110px; */
    font-size: 7vw;
    line-height: .88;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, .2) 7px -7px 8px;
    letter-spacing: 0.51px;
}
.top_banner_desc_container>a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.banner_button_p:hover,
.banner_button_p:active,
.banner_button_p:focus{
    opacity: .6;
}
.banner_button_p{
    display: inline-block;
    -webkit-text-fill-color: #242424;
    color: #242424;
    font-family: "Lato";
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 64px auto;
    padding: 20px 40px;
    background: #fff;
    border-radius: 45px;
    box-shadow: -4px 6px 33px 1px rgba(0,0,0,0.74);
    -webkit-box-shadow: -4px 6px 33px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: -4px 6px 33px 1px rgba(0,0,0,0.74);
    /* width: max-content; */
    /* text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.5); */

}
.top_banner_image{
    position: absolute;
    bottom: -13vw;
    right: 0;
}
.top_banner_img{
    max-width: 100%;
    
}
.burger{
    display: none;
    width: 30px;
    height: 30px;
    border: #fff solid 2px;
    border-radius: 4px;
    position: relative;
    z-index: 11;
    cursor: pointer;
}

.burger_line{
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2px;
}
.burger:before,
.burger:after{
    display: inline-block;
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    margin-left: 2px;
}
.burger:before{
    
    top: 6px;
}
.burger:after{
    bottom: 6px;
}
.burger:hover,
.burger:active,
.burger:focus{
    opacity: .6;
}

/*Who We Are*/
.who_we_are{
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.who_we_are_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.who_we_descr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 50%;
}
.who_we_img{
    flex: 1 1 50%;
}
.img_who_we_img{
    max-width: 100%;
}
.standard_h2{
    color: #494949;
    font-family: "PeaceSans";
    font-size: 62px;
    font-weight: 400;
}
.who_we_h2{
    padding-bottom: 76px;
}
.who_we_p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 76px;
}
.red_button_link{
    text-decoration: none;
    cursor: pointer;
    outline: none;
    
}
.red_button_link:hover,
.red_button_link:active,
.red_button_link:focus{
    opacity: .6;
}
.red_button_p{
    color: #ffffff;
    font-family: Lato;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding: 19px 34px;
    background-color: #bc2e3a;
    border-radius: 30px;
    box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);

}
.who_we_are_background{
    position: absolute;
    top: 0;
    right: -400px;
    content: '';
    border: 600px solid transparent; 
    border-top: 600px solid #171717;
    z-index: -2;
}

/*What We Do*/
.what_we_do_section{
    padding: 30px 0;
    background: #f5f5f5;
    position: relative;
}
.what_we_do_section_triangle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';
    border: 100px solid transparent; 
    border-left: 100px solid #bc2e3a;
    /* z-index: -1; */
}
.what_we_do_section_h2{
    text-align: center;
    padding: 40px 0;
}
.what_do_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.what_we_do_card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 400px;
    margin: 30px 0;
    z-index: 1;
}
.what_we_do_descr{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.what_we_do_descr>h3{
    color: #6f6f6e;
    font-family: "Open Sans Extrabold";
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1.82px;
    margin: 30px 0;
}
.what_we_do_descr>p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.what_we_do_icon{
    position: relative;
    min-width: 75px;
    min-height: 75px;
    background: #bc2e3a;
    border-radius: 50%;
    margin: 10px;
    
}
.what_we_do_icon>img{
    position: absolute;
    top: 50%;       
    left: 50%;                  
    transform: translate(-50%, -50%)
}

/*How We Work*/
.how_we_work_wrapper{
    margin-left: 13vw;
}
.how_we_work_h2{
    margin: 70px 0;
}
.how_we_work_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 250px;
}
.how_we_work_card1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.how_we_work_card{
    flex: 1 1 20%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.how_we_work_card1>p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 45px;
}
.how_we_work_card2,
.how_we_work_card3,
.how_we_work_card4{
    margin-left: 45px;
    transform: skew(-25deg);
    /* background: #000; */
}
.how_we_work_card2_img_cont{
    position: absolute;
    /* content: url(../img/howWeWork/idea.jpg); */
    top: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 200%;
    /* max-width: 100%; */
    /* content: url(../img/howWeWork/Layer_5.png); */
     
    transform: skew(25deg);
}
.how_we_work_card2_img_cont>img{
    max-width: 100%;
}
.how_we_work_number{
    font-family: "Lato";
    font-size: 58px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    color: #fff;
    transform: skew(25deg);
    text-align: right;
    margin: 10px 20px;
}

.we_wrk_img_hide_desc{
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.we_wrk_img_hide_desc>h4{
    font-family: "Lato";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    color: #fff;
    transform: skew(25deg);
    padding: 25px 10px;
}
.we_wrk_img_hide_desc>p{
    display: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    transform: skew(25deg);
    padding: 8px 8px 8px 45px;
}




@media (max-width:1500px){
/*Header Menu*/
    .top_banner_image{
        right: -200px;
    }
    .header_container{
        overflow: hidden;
    }
}

@media (max-width:1300px){
/*Header Menu*/
    .top_banner_image{
        right: -400px;
    }
    .header{
        overflow: hidden;
    }
}


@media (max-width:1000px){
/*Header Menu*/
    .top_banner_image{
        display: none;
    }
    .header_container{
        top:100px;
    }  
    .tom_menu_socials{
        display: none;
    }
    /*What We Do*/
    .what_we_do_section{
        padding: 20px 0;
    }
    .what_we_do_section_h2{
        padding: 10px 0;
    }
    .what_we_do_descr>h3{
        margin: 10px 0;
    }
    .what_we_do_descr>p{
        margin-bottom: 10px;
    }
    .what_we_do_card{
        margin: 10px 0;
    }
}
@media (max-width:800px){
    /*Header Menu*/
    .top_menu_container{
        display: none;
    }
    .burger{
        display: block;
    }
    /*Who We Are*/
    .who_we_descr{
        flex: 1 0 400px;
    }
    .img_who_we_img{
        margin-top: 40px;
    }
    .who_we_are{
        padding: 50px 0;
    }
    .who_we_h2{
        padding-bottom: 30px;
    }
    .who_we_p{
        padding-bottom: 30px;
    }
}
    
@media (max-width:550px){
    /*Header Menu*/
    .top_banner_image{
        display: block;
        right: 0;
    }
    .header_wrapper{
        padding: 0 30px;
    }
    /*Who We Are*/
    .who_we_descr{
        flex: 1 0 300px;
    }
    /*What We Do*/
    .what_we_do_card{
        flex: 1 1 400px;
    }
    
}

@media (max-width:370px){
    /*Who We Are*/
    .who_we_descr{
        flex: 1 0 200px;
    }
    .what_we_do_icon{
        min-width: 50px;
        min-height: 50px;
        
    }
}