html{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: normal;
    height: 100%;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(../img/header/main_banner_mixed.jpg) center no-repeat; 
    background-size: cover;
    position: relative;
}

.footer{
    width: 100%;
    height: 60px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.main{
    flex: 1 0 auto;
    min-width: 100%;
}
.wrapper{
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 8px;
}

/*Header Menu*/
.header_wrapper a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: .2s;
}
.header_wrapper a:hover,
.header_wrapper a:active,
.header_wrapper a:focus{
    opacity: .6;
}
.logo,
.top_menu_container,
.banner_button_p{
    z-index: 10;
}
.header_wrapper{
    max-width: 1464px;
    margin: 40px auto;
    padding: 0 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.top_menu_container,
.top_menu,
.tom_menu_socials{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: #fff;
    font-family: "Lato";
    font-size: 43px;
    font-weight: 900;
}
.top_menu a{
    color: #ffffff;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.24px;
    padding: 0 10px;
}
.tom_menu_socials a{
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    padding-left: 20px;
}
.tom_menu_socials a:first-child{
    padding-left: 50px;
}
.tom_menu_socials a:last-child{
    padding-right: 25px;
}
.header_container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/header/main_banner.jpg) center no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.top_banner_desc_container{
    margin: 10%;
    max-width: 900px;
    max-height: 600px;
    text-align: center;
    padding: 10px;
}
.top_banner_slogan{
    color: #ffffff;
    font-family: "LemonMilkbold";
    font-weight: 400;
    /* font-size: 80px; */
    font-size: 11vw;
    line-height: .88;
    text-transform: uppercase;
    letter-spacing: 0.51px;
    text-shadow: rgba(0, 0, 0, .2) 7px -7px 8px;
}
.top_banner_desc_container>p{
    color: #ffffff;
    font-family: "LemonMilkbold";
    font-weight: 400;
    font-size: 7vw;
    line-height: .88;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, .2) 7px -7px 8px;
    letter-spacing: 0.51px;
}
.top_banner_desc_container>a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.banner_button_p:hover,
.banner_button_p:active,
.banner_button_p:focus{
    opacity: .6;
    transition: .2s;
}
.banner_button_p{
    display: inline-block;
    -webkit-text-fill-color: #242424;
    color: #242424;
    font-family: "Lato";
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 64px auto;
    padding: 20px 40px;
    background: #fff;
    border-radius: 45px;
    box-shadow: -4px 6px 33px 1px rgba(0,0,0,0.74);
    -webkit-box-shadow: -4px 6px 33px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: -4px 6px 33px 1px rgba(0,0,0,0.74);
}
.top_banner_image{
    position: absolute;
    bottom: -13vw;
    right: 0;
}
.top_banner_img{
    max-width: 100%;
}
.burger{
    display: none;
    width: 30px;
    height: 30px;
    border: #fff solid 2px;
    border-radius: 4px;
    position: relative;
    z-index: 11;
    cursor: pointer;
}

.burger_line{
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2px;
}
.burger:before,
.burger:after{
    display: inline-block;
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    margin-left: 2px;
}
.burger:before{
    
    top: 6px;
}
.burger:after{
    bottom: 6px;
}
.burger:hover,
.burger:active,
.burger:focus{
    opacity: .6;
}
.burger.active_burger:before{
    transform: rotate(45deg);
    top: 14px;
    transition: .5s;
}
.burger.active_burger:after{
    transform: rotate(-45deg);
    bottom: 14px;
    transition: .5s;
}
.burger.active_burger span{
    transform: scale(0);
}
body.lock{
    overflow: hidden;
}

/*Who We Are*/
.who_we_are{
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.who_we_are_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.who_we_descr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 50%;
}
.who_we_img{
    flex: 1 1 50%;
}
.img_who_we_img{
    max-width: 100%;
}
.standard_h2{
    color: #494949;
    font-family: "PeaceSans";
    font-size: 62px;
    font-weight: 400;
}
.who_we_h2{
    padding-bottom: 76px;
}
.who_we_p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 76px;
}
.red_button_link{
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: .2s;
}
.red_button_link:hover,
.red_button_link:active,
.red_button_link:focus{
    opacity: .6;
}
.red_button_p{
    color: #ffffff;
    font-family: Lato;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding: 19px 34px;
    background-color: #bc2e3a;
    border-radius: 30px;
    box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);
}
.who_we_are_background{
    position: absolute;
    top: 0;
    right: -400px;
    content: '';
    border: 600px solid transparent; 
    border-top: 600px solid #171717;
    z-index: -2;
}

/*What We Do*/
.what_we_do_section{
    padding: 30px 0;
    background: #f5f5f5;
    position: relative;
}
.what_we_do_section_triangle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';
    border: 100px solid transparent; 
    border-left: 100px solid #bc2e3a;
}
.what_we_do_section_h2{
    text-align: center;
    padding: 40px 0;
}
.what_do_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.what_we_do_card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 400px;
    margin: 30px 0;
    z-index: 1;
}
.what_we_do_descr{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.what_we_do_descr>h3{
    color: #6f6f6e;
    font-family: "Open Sans Extrabold";
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1.82px;
    margin: 30px 0;
}
.what_we_do_descr>p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.what_we_do_icon{
    position: relative;
    min-width: 75px;
    min-height: 75px;
    background: #bc2e3a;
    border-radius: 50%;
    margin: 10px;
}
.what_we_do_icon>img{
    position: absolute;
    top: 50%;       
    left: 50%;                  
    transform: translate(-50%, -50%)
}
/*How We Work*/
.how_we_work_section{
    position: relative;
    /* overflow: hidden; */
}
.how_we_work_cont{
    overflow: hidden;
}
.how_we_work_wrapper{
    margin-left: 13vw;
}
.triangle:after{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: '';
    border: 30vw solid transparent; 
    border-right: 30vw solid #bc2e3a;
}
.triangle:before{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(+50%);
    content: '';
    border: 8vw solid transparent; 
    border-left: 8vw solid #171717;
}
.how_we_work_h2{
    margin: 70px 0;
}
.how_we_work_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 180px;
}
.how_we_work_card1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 0 20%;
}
.how_we_work_card{
    height: 300px;
    position: relative;
    transition: .2s;
}
.how_we_work_card1>p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 35px;
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.how_we_work_card2,
.how_we_work_card3,
.how_we_work_card4{
    flex: 1 1 20%;
    margin-left: 45px;
    transform: skew(-25deg);
    overflow: hidden;
    box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 20px 54px -9px rgba(0,0,0,0.75);
}
.how_we_work_card2_img_cont{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 200%;
    transform: skew(25deg);
}
.how_we_work_card2_img_cont>img{
    max-width: 100%;
}
.how_we_work_number{
    font-family: "Lato";
    font-size: 58px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    color: #fff;
    transform: skew(25deg);
    text-align: right;
    margin: 10px 20px;
}
.we_wrk_img_hide_desc{
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.we_wrk_img_hide_desc>h4{
    font-family: "Lato";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    color: #fff;
    transform: skew(25deg);
    padding: 15px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.we_wrk_img_hide_desc_p{
    display: none;
}
.we_wrk_active{
    display: block;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    transform: skew(25deg);
    padding: 8px 8px 8px 45px;
    max-height: 150px;
}
.hww:hover,
.hww:active,
.hww:focus{
    opacity: .8;
    cursor: pointer;
}

/*Our Team*/
.our_team{
    background: #f5f5f5;
}
.our_team_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.our_team_h2{
    padding: 100px 0 20px 0;
    text-align: center;
}
.team_slider{
    max-width: 80vw;
}
.slick-track{
    position: relative;
}
.card_wrapper_team{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team_slider_img{
    position: relative;
    height:350px;
    width:350px;
    border: solid 20px #fff;
    transform: rotate(45deg) scale(.7);
    /* transform: translateY(30%); */
    z-index: -1;
    overflow: hidden;
    -webkit-box-shadow: -2px -5px 35px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -5px 35px -13px rgba(0,0,0,0.75);
    box-shadow: -2px -5px 35px -13px rgba(0,0,0,0.75);
}
.team_slider_img>img{
    position: absolute;
    top:0;
    left:0;
    width: 150%;
    height: 150%;
    transform: translateX(-100px) translateY(-100px)  rotate(-45deg);
}
.team_name{
    min-width: 230px;
    height: 50px;
    background-color: #252525;
    transform: translateY(-90px) translateX(-20px) skew(45deg) scale(.7);
    white-space: nowrap;
    text-align: center;
    z-index: 4;
}
.team_name_moved{
    transform: translateY(-60px) translateX(-20px) skew(45deg) scale(.7);
}
.team_name_normal{
    transform: translateY(-90px) translateX(-20px) skew(45deg) scale(.7);
}
.team_name>p{
    padding: 5px 15px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 39.43px;
    transform: skew(-45deg); /* translateY(-50%) translateX(-60%);*/
}
.team_ocupation{
    z-index: 5;
    min-width: 150px;
    height: 35px;
    background-color: #bc2e3a;
    transform: translateY(-105px) skew(45deg) scale(.7);
    white-space: nowrap;
    text-align: center;
}
.team_ocupation>p{
    padding: 0 5px;
    color: #fff;
    font-family: "Open Sans";
    font-style: italic;
    font-size: 19px;
    line-height: 31.97px;
    transform: skew(-45deg); /* translateY(-50%) translateX(-60%);*/
}
.team_ocupation_hiden{
    display: none;
}
.card_wrapper_team{
    padding: 100px 0;
}
.slick-active .team_slider_img{
    z-index: 1;
}
.slick-center .team_slider_img{
    z-index: 2;
    transform: scale(1) rotate(45deg);
}
.slick-center .team_name{
    transform: translateY(-30px) translateX(-20px) skew(45deg) scale(1);
}
.slick-center .team_ocupation{
    transform: translateY(-35px) skew(45deg) scale(1);
}
.slick-prev:before{
    content: '';
    position: absolute;
    right: 3vw;
    bottom: -20px;
    border: 50px solid transparent; 
    border-right: 50px solid #424240;
}
.slick-next:before{
    content: '';
    position: absolute;
    left: 3vw;
    bottom: -20px;
    border: 50px solid transparent; 
    border-left: 50px solid #424240;
}
.slick-active{
    opacity: .7;
}
.slick-center{
    opacity: 1;
}

/*Clients Says*/
.clients_says{
    position: relative;
}
.clients_says_triangle:before{
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 30vw solid transparent; 
    border-left: 30vw solid #bc2e3a;
}
.clients_says_triangle:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border: 8vw solid transparent; 
    border-top: 8vw solid #424240; 
    border-right: 8vw solid #424240; 
}
.clients_says_h2{
    padding: 100px 0 100px 100px;
}
.client_picture{
    position: relative;
    height:300px;
    width:300px;
    border: solid 20px #fff;
    transform: rotate(45deg);
    /* transform: translateY(30%); */
    /* z-index: -1; */
    overflow: hidden;
    z-index: 2;
    -webkit-box-shadow: -2px -5px 35px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -5px 35px -13px rgba(0,0,0,0.75);
    box-shadow: -2px -5px 35px -13px rgba(0,0,0,0.75);
}
.client_picture>img{
    position: absolute;
    top:0;
    left:0;
    width: 150%;
    height: 150%;
    transform: translateX(-80px) translateY(-70px)  rotate(-45deg);
}
.client_prewiev_pic{
    position: relative;
    height:50px;
    width:50px;
    overflow: hidden;
    border: solid 2px #fff;
    transform: rotate(45deg);
    margin-left: 3vw;
    margin-bottom: 20px;
    transition: .3s;
    cursor: pointer;
}
.client_prewiev_pic:hover,
.client_prewiev_pic:active,
.client_prewiev_pic:focus{
    opacity: .6;
}
.client_prewiev_pic>img{
    position: absolute;
    top:0;
    left:0;
    width: 150%;
    height: 150%;
    transform: translateX(-10px) translateY(-10px)  rotate(-45deg);
}
.clients_says_container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
    padding-left: 60px;

}
.client_picture{
    flex: 0 0 auto;
}
.client_descr_cont_main{
    flex: 1 1 70%;
    padding-left: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 5;
}
.client_descr_cont{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.client_prewiev_pic_cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.quotes_cont{
    color: #6a6a6a;
    font-family: "PumpDemiBoldLetPlain";
    font-size: 199px;
    font-weight: 400;
    /* line-height: 331.7px; */
    position: relative;
    width:50%;
    height: 50%;
}
.client_descr_p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    z-index: 1;
}
.client_descr_h4{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 40px;
}
.client_prewiev_p2,
.client_prewiev_h4{
    display: none;
}

/*footer*/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/footer/Place_Image.jpg) center no-repeat;
    background-size: cover;
}
.footer_triangle{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
}
.footer_triangle:after{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: 0;
    right: -5vw;
    border: 8vw solid transparent; 
    border-bottom: 8vw solid #bc2e3a;
}
.footer_h2{
    padding: 50px 0;
    color: #9f9f9f;
    text-align: center;
}
.footer_contact_us_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 90px;
}
.footer_contact_wrapper{
    flex: 1 1 33%;
    max-width: 20vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer_email_img,
.footer_phone_img,
.footer_office_img{
    padding: 15px;
    color: #fff;
}
.footer_contact_wrapper h3{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.55px;
    margin-bottom: 16px;
}
.footer_contact_wrapper p{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 8px;
}
.footer_email_desc,
.footer_phone_desc,
.footer_office_desc{
    padding: 10px;
}
.footer_social_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.footer_social_wrapper{
    width: 40vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 70px;
}
.footer_social_wrapper a:hover,
.footer_social_wrapper a:active,
.footer_social_wrapper a:focus{
    opacity: .6;
}
.footer_social_wrapper:after{
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateX(-8%);
    width: 120%;
    height: 2px;
    content: '';
    background: #717171;
}
.footer_copyright{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 60px;
}

@media (max-width:1500px){
/*Header Menu*/
    .top_banner_image{
        right: -200px;
    }
    .header_container{
        overflow: hidden;
    }
}

@media (max-width:1300px){
/*Header Menu*/
    .top_banner_image{
        right: -400px;
    }
    .header{
        overflow: hidden;
    }
}

@media (max-width:1200px){
    /*Ho We Work*/
    .how_we_work_card{
        flex: 0 0 250px;
        margin-bottom: 30px;
    }
    .how_we_work_card:nth-child(1){
        order: 4;
        margin-left: 20px;
    }
    .how_we_work_container{
        margin-bottom: 100px;
    }
}

@media (max-width:1000px){
/*Header Menu*/
    .top_banner_image{
        display: none;
    }
    .header_container{
        top:100px;
    }  
    .tom_menu_socials{
        display: none;
    }
    /*What We Do*/
    .what_we_do_section{
        padding: 20px 0;
    }
    .what_we_do_section_h2{
        padding: 10px 0;
    }
    .what_we_do_descr>h3{
        margin: 10px 0;
    }
    .what_we_do_descr>p{
        margin-bottom: 10px;
    }
    .what_we_do_card{
        margin: 10px 0;
    }
    /*Our Team*/
    .our_team_h2{
        padding: 20px 0 0 0;
    }
    .card_wrapper_team {
        padding: 100px 0 20px 0;
    }
    /*Clients Says*/
    .clients_says_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        overflow: hidden;
    }
    .quotes_cont{
        display: none;
    }
    .clients_says_h2{
        padding: 20px 0 80px 20px;
    }
    .client_picture{
        margin-bottom: 80px;
    }
    .client_descr_cont_main{
        padding-left: 0px;
    }
    /*footer*/
    
    .footer_contact_wrapper{
        max-width: 250px;
    }
}

@media (max-width:800px){
    /*Header Menu*/
    .top_menu{
        display: none;
        overflow: auto;
    }
    
    .top_menu_active{
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #bc2e3a;
        
    }
    .top_menu li{
        color: #ffffff;
        font-family: "Lato";
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.24px;
        padding: 30px 10px;
    }
    .top_menu li:last-child{
        margin-bottom: 50px;
    }
    .block_hide{
        display: none;
    }
    .burger{
        display: block;
    }
    .header:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background: #171717;
    }
    /*Who We Are*/
    .who_we_descr{
        flex: 1 0 400px;
    }
    .img_who_we_img{
        margin-top: 40px;
    }
    .who_we_are{
        padding: 50px 0;
    }
    .who_we_h2{
        padding-bottom: 30px;
    }
    .who_we_p{
        padding-bottom: 30px;
    }
    /*Clients Says*/
    .client_descr_cont{
        flex-direction: column-reverse;
        align-items: center;
    }
    /*footer*/
    .footer_h2{
        padding: 10px 0;
    }
    .footer_contact_us_container{
        margin-bottom: 10px;
    }
    .footer_social_wrapper{
        margin-bottom: 10px;
        width: 96vw;
    }
    .footer_social_wrapper:after{
        display: none;
    }
    .footer_copyright{
        margin-bottom: 10px;
    }
}
    
@media (max-width:550px){
    /*Header Menu*/
    .top_banner_image{
        display: block;
        right: 0;
    }
    .header_wrapper{
        padding: 0 30px;
    }
    /*Who We Are*/
    .who_we_descr{
        flex: 1 0 300px;
    }
    /*What We Do*/
    .what_we_do_card{
        flex: 1 1 400px;
    }
    /*Ho We Work*/
    .how_we_work_container{
        margin-bottom: 10px;
    }
    .how_we_work_h2{
        margin: 20px 0;
    }
    /*Client Says*/
    .clients_says{
        display: none;
    }
    /*Footer*/
    .footer_contact_us_container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .footer_contact_wrapper{
        padding-left: 15px;
    }
}

@media (max-width:370px){
    /*Who We Are*/
    .who_we_descr{
        flex: 1 0 200px;
    }
    .what_we_do_icon{
        min-width: 50px;
        min-height: 50px;
        
    }
    /*Footer*/
    .footer_copyright{
        display: none;
    }
}